div(class="div-center")
    div(id="cyclic-rooms")
        div(id="cyclic-rooms-container" style="")
        div(class="cyclic-rooms-buttons")
            button(type="button", id="cyclic-rooms-button-quick")  #{quickStart}